.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

@media (max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.form__button {
    border: none;
    background-color: teal;
    padding: 11px 20px;
    color: #fff;
    transition: 0.5s;
}

.form__button:hover {
    transform: scale(1.05);
    background-color: hsl(180, 100%, 30%);
}