.list__tasks {
    padding: 0px;
    margin-top: 2px;
}

.list__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    word-break: break-word;
    grid-gap: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.list__task--done {
    text-decoration: line-through;
}

.list__button-hideDone, .list__button-hideAll {
    border: 0;
    text-decoration: none;
    color: #008080;
    padding: 0px;
    background-color: white;
    transition: 1s;
}

.list__button-hideDone:hover, .list__button-hideAll:hover {
    color: hsl(180, 100%, 35%);
}

.task_button-done {
    background-color: hsl(120, 61%, 34%);
    width: 30px;
    height: 30px;
    border: none;
    color: #fff;
    transition: 1s;
}

.task_button-done:hover {
    background-color: hsl(120, 61%, 44%);
    width: 30px;
    height: 30px;
    border: none;
}

.task__button-remove {
    background-color: hsl(348, 83%, 52%);
    width: 30px;
    height: 30px;
    border: none;
    transition: 1s;
}

.task__button-remove:hover {
    background-color: hsl(348, 83%, 42%);
    width: 30px;
    height: 30px;
    border: none;
}
