html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 15px;
}
