.tasksItemHidden {
    display: none;
}

.buttons__button {
    border: none;
    color: teal;
    background-color: transparent;
    transition: 1s;
    padding: 15px 15px;
}

.buttons__button:hover  {
    color: hsl(180, 100%, 30%);
}

.buttons__button:disabled {
    color: grey;
}

@media (max-width: 767px){
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-bottom: 15px;

    }
}