.tasksItemHidden {
    display: none;
}

.evenButton--left {
    border: none;
    color: teal;
    background-color: transparent;
    transition: 1s;
    padding: 15px 15px;
}

.evenButton--left:hover {
    color: hsl(180, 100%, 30%);
}

.evenButton--right  {
    border: none;
    color: teal;
    background-color: transparent;
    transition: 1s;
    padding: 15px 15px;
}

.evenButton--right:hover  {
    color: hsl(180, 100%, 30%);
}

.evenButton--right:disabled {
    color: grey;
}

@media (max-width: 767px){
    .container__event {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

@media (max-width: 767px){
    .container__event--buttons {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding-bottom: 15px;

    }
}